/* relative

biasanya jarang menggeser elemen menggunakan posisis relatif
biasanya digunakan untuk membuat keluar dari flownya

-ketika kita menggerakkan elemen dengan posisi relative
(menggunakan properti top, left, bottom, dan right), ruang
yang ditempati oleh elemen tersebut masih ada

-ketika kita menggerakkan elemen dengan posisi relative,
elemen akan bergerak relatif terhadap posisi *semulanya*

-jika kita memberi top: 0; dan left: 0; maka elemen tidak
berubah posisinya */

div {
    width: 200px;
    height: 200px;
}

.satu {
    background-color: lightgreen;
}

.dua {
    background-color: violet;
    position: relative;
    top: 30px;
}

.tiga {
    background-color: gold;
}