html, body {
    margin: 0;
    padding: 0;
    background-color: #ddd;
}

.container {
    width: 60%;
    margin: 50px auto;
    display: grid;
    /* Menentukan ukuran minimal dan maksimal dari grid track
    minmax(min, max) */
    grid-template-columns: 1fr minmax(200px, 300px) 1fr;
}

.item {
    background-color: skyblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item:nth-child(even) {
    background-color: salmon;
}